/* colors used
#5d9732 - green
#2d160f - brown

*/
h1,
h2,
h3,
h4,
h5 {
    color: #5d9732;
}

p {
    color: #2d160f;
}

body.home {
    background: url(../images/fireplace.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

body.about {
    background: url(../images/nativePlants.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

body.services {
    background: url(../images/color-conifer-environment-192136.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

Body.contact {
    /* background: url(../images/expertlandscaping.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}

body.portfolio {
    
}

.portfolio-content {
    /* background-color: #2d160f; */
}

.green-text {
    color: #5d9732;
}

.heading {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    letter-spacing: 3px;
    color: white !important;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

.green-heading {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    letter-spacing: 3px;
    color: #5d9732 !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

.nav-item:hover {
    background-color: #5d9732 !important;
    color: white !important;
}

.logo {
    /* width: 567px;
    height: 179px; */
    margin-top: 25px;
    padding-top: 15px;
    /* background: #2d160f; */
    background: #2f170fe6;
    /* position: sticky;
    top: 0;
    Float: Right; */
    z-index: 100;
}

/* .rounded {
    border-radius: 25px;
    background: #2d160f;
} */
.center {
    text-align: center;
}

.logoBox {
    background-color: rgba(255, 255, 255, .85);
    border-radius: .5rem;
    content: '';
    width: 631px;
    margin: auto;
    padding: 5px;
    border: .25rem solid #5d9732;
    /* position: absolute; */
}

.service-img {
    height: 384px;
}

.service:hover {
    transform: scale(1.05)
}

:root {
    --animation-delay: 0;
    --duration: 800ms;
    --iterations: 1;
}

#award-image {}

.bg-purple {
    background-color: #9954bb;
}

/* ABOUT PAGE */
.aboutParallax {
    /* The image used */
    background-image: url("../images/truck2.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.rotate90 {
    transform: rotate(90deg);
    height: auto;
    width: auto;
}

.rotate90 img {
    width: auto;
    height: 495px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    /* Styles */
    .rotate90 img {
        width: auto;
        height: auto;
    }

    }
    
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    .rotate90 img {
        width: auto;
        height: auto;
    }
    }
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {
    /* Styles */
    .rotate90 img {
        width: auto;
        height: auto;
    }
    }
    
    
    
    @media only screen and (min-device-width : 1024px) and (max-device-width : 1289px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .rotate90 img {
        width: auto;
        height: 375px;
    }
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    .rotate90 img {
        width: auto;
        height: 572px;
    }
    }
    
    
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .rotate90 img {
        width: auto;
        height: 316px;
    }
    }
    
    
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


/* .reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
} */

/* .reveal-text {
    position: relative;
       animation-name: clip-text;
    color: #FFF;
    white-space: nowrap;
    cursor: default;
}

.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
} */



/* @keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}


@keyframes text-revealer {

    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }


    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
} */

.textarea {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/* parallax */
.contactParallax {
    /* The image used */
    background-image: url("../images/expertlandscaping2.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactParallax2 {
    /* The image used */
    background-image: url("../images/expertlandscaping.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #parallax-container {
    display: block;
    height: 750px;
    
}

#parallax-container div {
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
    height: 750px;
   
    width: 100%;
}

#content {
    position: relative;
} */

/* Portfolio */
* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}